In [36]:
import pandas as pd
import datetime as dt
from datetime import datetime

In [56]:
mainpath = "/Volumes/Data/soldash/developer/personal/python/Datos/"
filename = "lslr PARTE 1 DE 6 CRISIS.m00"

In [47]:
%%time
data = pd.read_csv(mainpath+ filename sep="\s+", skiprows=[0])

CPU times: user 46.3 s, sys: 13.7 s, total: 1min
Wall time: 1min 11s

In [50]:
%%time
data = pd.read_csv(mainpath+filename, sep="\s+", skiprows=[0], usecols = ['X1-X2'])

CPU times: user 36.7 s, sys: 2.15 s, total: 38.9 s
Wall time: 51.7 s

In [57]:
datatitle = open(mainpath + filename,"r")
info = datatitle.readline().strip().split(" ")
print(info)
info = info[len(info)-1].split("=")
StartDate= datetime.strptime(info[1], '%H:%M:%S')
print(StartDate)
StartDate = StartDate + dt.timedelta(milliseconds=2)
print(StartDate)

['TimePoints=23085500', 'Channels=20', 'BeginSweep[ms]=0.00', 'SamplingInterval[ms]=2.000', 'Bins/uV=1.000', 'Time=07:06:59']
1900-01-01 07:06:59
1900-01-01 07:06:59.002000

In [58]:
data

          X1-X2
0          -0.0
1          -0.0
2          -0.0
3          -0.0
4          -0.0
...         ...
23085495   -0.0
23085496   -0.0
23085497   -0.0
23085498   -0.0
23085499   -0.0

[23085500 rows x 1 columns]

In [27]:
len(data)

15794000

In [41]:
# Indagar si existen valores nulos
pd.isnull(data['X1-X2']).values.ravel().sum()

0

In [42]:
data = data['X1-X2']
data

0          -0.00
1          -0.00
2          -0.00
3          -0.00
4          -0.00
            ...
15793995   -7.20
15793996   -7.19
15793997   -7.18
15793998   -7.16
15793999   -7.15
Name: X1-X2, Length: 15794000, dtype: float64